<div class="mdl-cell mdl-cell--12">
	<table class="mdl-data-table mdl-js-data-table mdl-shadow--2dp style="width:100%;">
		<thead>
			<tr>
				<th class="mdl-data-table__cell--non-numeric">Ciudad</th>
				<th>Hora<i class="material-icons md-18">schedule</i></th>
				<th>Temperatura<i class="material-icons md-18">wb_sunny</i></th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td class="mdl-data-table__cell--non-numeric">Santiago (CL)</td>
				<td>11:35</td>
				<td>30</td>
			</tr>
		</tbody>
	</table>
</div>